.row{margin-right:0px;margin-left:0px}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;

}

.header-container
{
    height: 80px;

    background-color:#2c3e50;
    color: #e2e2e2;
}
.header-title
{
    font-size:250%;
    font-weight: bold;
    line-height: 80px;
}


.user-cp-container
{
    height: 25px;
    background-color: #202f41;
    color: white;
    line-height: 25px;
}

.content
{
    margin-top:20px;
}

.section-container
{
    margin-top:20px;
    border: 1px solid #2c3e50;
    background-color:#2c3e50;

    border-radius: 3px;
}
.section-title
{

    height:25px;
    padding-left:15px;
    color:white;
    line-height: 25px;
    font-size:110%;
    font-weight: bold;
}
.section-info
{
    height:25px;
    line-height: 25px;

    color: white;
}

.category-container
{
    background-color:white;
    border-radius:3px;
}
.category-title
{
    padding-left:15px;
    font-size:105%;
    font-weight:bold;
}
.category-description
{
    padding-left:15px;
    font-size:90%;
}
.category-info
{
    height:43px;
    line-height: 43px;
}